.content {
  background-color: red;
}

.content p {
  font-family:"Ariel", sans-serif;
  color:white;
}

.columnimage {
  width:100%;
}

.columnimage2 {
  width:100%;
  height:100%;
}

.image {
  width:100%;
  height:100%;
}

.table {
  width:100%;
  color:white;
}
